aiofiles
aiohttp
apscheduler
beautifulsoup4
cinemagoer
emoji
fuzzywuzzy
jinja2
marshmallow>=3.21.0,<4
motor==3.7.0
PyLeaves==1.0.2
pymongo[srv]==4.11.1
pyrofork==2.3.45
pyromod==1.5
python-Levenshtein
pyshorteners
pytz
requests
shortzy==0.0.8
TgCrypto
umongo
