aiofiles
aiohttp
apscheduler
beautifulsoup4
cinemagoer
emoji
jinja2
marshmallow>=3.21.0,<4
motor==2.5.1
PyLeaves==1.0.2
pymongo[srv]==3.12.3
pyrofork==2.3.45
pyrogram
pyromod==1.5
pyshorteners
pytz
requests
shortzy==0.0.8
TgCrypto
umongo
